%h2
  Object Class Details

  %span.badge
    = stats.obj_classes_count

- stats.obj_classes.in_groups_of(2).each do |group|
  .row-fluid
    - group.each do |item|
      - next unless item

      .span6.well.well-small
        = render('ice_kickstarter/dashboards/show/obj_class', obj_class: item)