%h2
  Available Updates

%p
  Check your Gem versions regularly to see if new updates are available. A yellow label indicates,
  that newer versions of core gems are available. To update, add the new version to your Gemfile
  and run <strong>bundle update &quot;name of the gem&quot;<strong>.

%table.table
  %thead
    %tr
      %th
        Name

      %th
        Version

      %th
        Status

  %tbody
    = render(:partial => 'ice_kickstarter/dashboards/help/gem', :collection => gems)