%h2
  Developers

  %span.badge
    ⅀ #{developers.size}

%p
  People listed have access to the Git Repository with either push or pull permission.
  Use <strong>rake -T cms:github</strong> to get an overview on how to manage the list of developers.

%table.table.table-bordered
  %thead
    %tr
      %th
        Git Username

      %th
        Permission

  %tbody
    - developers.each do |developer|
      %tr
        %td
          = link_to(developer.username, "https://github.com/#{developer.username}", target: :_blank)

        %td
          %span.label{class: developer.perm == 'push' ? 'label-success' : 'label-warning'}
            = developer.perm