%h2
  Editors

  %span.badge
    ⅀ #{editors.size}

%p
  People listed have access to the ICE CMS and CRM. They are able to influence the content of the
  webpage. You can add new editors in the CRM by creating a new Contact and give them the
  <strong>cmsadmin</strong> role.

%table.table.table-bordered
  %thead
    %tr
      %th
        Name

      %th
        Login

  %tbody
    - editors.each do |editor|
      %tr
        %td
          = link_to(Rails.configuration.ice_kickstarter.contact_url(editor.id), :target => :_blank) do
            = [editor.last_name, editor.first_name].compact.join(', ')

        %td
          = editor.login