.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %button.btn.btn-navbar{:type => 'button', :'data-toggle' => 'collapse', :'data-target' => '.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to(dashboard_path, :class => 'brand') do
        ICE Developer Dashboard

      .nav-collapse.collapse
        %ul.nav.pull-right
          %li
            = link_to('https://kb.infopark.de/support', :target => :_blank) do
              %i.icon-envelope

              Feedback &amp; Support