.row-fluid
  %h1
    CMS &amp; CRM Content

  %p
    Gives you an overview of what currently is going on in the CMS and CRM.

.row-fluid
  .span6.well.well-small
    = render('ice_kickstarter/dashboards/content/cms_stats', :stats => @cms_stats)

  .span6.well.well-small
    = render('ice_kickstarter/dashboards/content/crm_stats', :stats => @crm_stats)

.row-fluid
  .span12
    = render('ice_kickstarter/dashboards/content/recently_published', :recently_published => @cms_stats.recently_published)