.row-fluid
  %h1
    Help, Links &amp; Updates

  %p
    If you are looking for help or want to jump directly to the CMS or CRM, then check out the links
    below. Don't forget the feedback button, if you miss anything.

.row-fluid
  = render('ice_kickstarter/dashboards/help/links')

.row-fluid
  = render('ice_kickstarter/dashboards/help/updates', gems: @gems)