.row-fluid
  %h1
    Editors &amp; Developers

.row-fluid
  .span6
    = render('ice_kickstarter/dashboards/people/editors', editors: @editors)

  .span6
    = render('ice_kickstarter/dashboards/people/developers', developers: @developers)