.row-fluid
  %h1
    Object Classes and Attributes

  %p
    All active Object Classes and their Attributes are listed. Please use CMS Migrations to adopt the
    list to your needs. You can easily create a new CMS Migration executing
    <strong>rails generate cms:migration NAME</strong>, or use any of the more specific migration
    generators, like <strong>rails generate cms:model</strong> or
    <strong>rails generate cms:attribute</strong>.

.row-fluid
  = render('ice_kickstarter/dashboards/show/obj_class_details', :stats => @meta_stats)

  = render('ice_kickstarter/dashboards/show/attribute_details', :stats => @meta_stats)